.particles{
  position: absolute;
  z-index: -1;
  top:0;
  left: 0;
  width: 100% !important;
  height: 100% !important;


}

.bg-logo{
  background-color: #dfecf7ff !important;
}

.video-position{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: background-color .3s ease;
      background-color: rgba(0,0,0,0);
      cursor: pointer
}


.form-control{
  border-radius: 0.55rem;
  border-style: solid;
  border-width: 3px;
  border-color: #539CE7;
  padding: .5rem;
  width: 100%;
}

.form-error{
  border-color: red;
  border-style: solid;
}
