.formlh{
  line-height : 15px;}

.margindiv {

  margin-left: 51%;
  margin-top: 160px;
}

.artbg {
  background-size: cover;


}

className=" br2  ba b--white pa2 w-100 "

.bg-content-ben {

  background-color: #dfecf7ff;
}

.video-position{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: background-color .3s ease;
      background-color: rgba(0,0,0,0);
      cursor: pointer
}


  .color-boton{
  	color: white;
    background-color: #FF6700;
    border-color: #FF6700;
  }


  .color-boton:hover{
    color: white;
    background-color: #539CE7;
    border-color: #539CE7;
    transition: all 0.4s ease-in-out;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
  }


.font{

  font-size: 4rem;


}

.boton-bg{
  background-color: #FF6700;
}

.bg-form{
  background-color: #0B77E8;
}

.tam-form{
  font-size: 4rem;
  line-height: 4rem;;
}


.bg-form-content{
  background-color: #539CE7;
}

ol {
  counter-reset: li; /* Initiate a counter */
  list-style: none; /* Remove default numbering */
  *list-style: decimal; /* Keep using default numbering for IE6/7 */
  padding: 0;
  margin-bottom: 4em;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
.rounded-list p{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    background: transparent;
    color: white;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;
  }

  .rounded-list p:hover{
    background: #eee;
    color:black
  }

  .rounded-list p:hover:before{
    transform: rotate(360deg);
  }

  .rounded-list p:before{
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #FF6700;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
  }




@media only screen and (max-width: 480px) {

.rotateunii {

          width: auto;
            }
}
